/* Component styles */
.container {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 20px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.container button {
	margin: 10px;
	width: 100px;
	padding: 10px;
}

.container input {
	margin: 10px;
	width: 100px;
	padding: 3px;
}

.divInput {
	display: flex;
	max-width: 300px;
	align-items: center;
	justify-content: space-between;
}

.profile {
	display: flex;
	align-items: center;
	height: 100px;
	gap: 80px;
	padding-top: 20px;
	padding-bottom: 80px;
}

.avatar {
	display: flex;
	flex-direction: column-reverse;
}

.avatar input {
	width: 200px;
	height: 20px;
}

.avatar button {
	width: 180px;
	height: 180px;
	border: 0.2px solid black;
}

.twoFactor button {
	width: 200px;
	padding: 10px;
}
