.userCard {
	max-width: 280px;
	max-height: 100px;
}

.infos {
	display: flex;
	flex-direction: column;
}

.userName {
	width: 150px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.ownerIcon {
	margin-left: 5px;
	width: 30px;
	height: 20px;
}
