.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-bottom: thin solid silver;
}

.header img {
    height: 40px;
    padding-top: 2px;
}

.navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navigation a:hover {
    color: #0275d8;
}

.loggedOutNavigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    cursor: pointer;
}