.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-bottom: thin solid silver;
}

.header img {
    height: 50px; /* Adjust size as needed */
}

.navigation a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navigation a:hover {
    color: #0275d8;
}