.canvasGame {
	border: 5px solid black;
	margin-top: 20px;
}

.screen {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 30px;
	margin-bottom: 5px;
}

.score {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
}

.board {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fans {
	display: flex;
	flex-direction: row;
}
