DEV_BUILD=docker/dev/Dockerfile
PROD_BUILD=docker/prod/Dockerfile

BUILD_ENVIROMENT=<DEV_OR_PROD>

DB_HOST=<host>
DB_PORT=<port>
DB_PASSWORD=
DB_USERNAME=root
DB_DATABASE=pong
DB_TIMEZONE=America/Sao_Paulo

SHARED_VOLUME_DEVICE=<PATH_TO_THE_LOCAL_STORAGE>

JWT_SECRET=<JWT_SECRET_STRING>

NGINX_BASE_URL=<ABSOLUTE_ADDRESS>
REACT_BASE_URL=<ABSOLUTE_ADDRESS>

FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
