.container {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 20px;
}

.container button {
	margin: 10px;
	width: 100px;
	padding: 10px;
}

.container input {
	margin: 10px;
	width: 100px;
	padding: 3px;
}